@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Questrial", serif;
}

.nav {
  background-color: rgba(178, 197, 212, 0.486);
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  position: fixed;
  width: 100%;
}

.navbar {
  padding-bottom: 10vh;
}

.footer {
  font-family: "Questrial", serif;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .footer-top {
  background-color: #272727;
  display: grid;
  grid-template-columns: 20% 15% 30% 75%;
  justify-content: space-between;
  padding: 80px 50px 30px 50px;
}
.footer .footer-top li {
  color: #6d6d6d;
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 900;
}
.footer .newsletter {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .newsletter input {
  background-color: #333333;
  border: 1px solid #707070;
  color: #bdbdbd;
  width: 400px;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer .social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .social-networks ul {
  display: flex;
}
.footer .social-networks ul li {
  justify-content: space-between;
}
.footer .social-networks h3 {
  margin: 20 auto;
}
.footer .social-networks h2 {
  margin-top: 50px;
  font-size: 2rem;
  color: #ffffff;
}
.footer .social-networks p {
  font-weight: 700;
  color: #707070;
}
.footer button {
  padding: 10px 80px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.footer .footer-low {
  background-color: #333333;
  color: #848484;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .footer-low .rgpd {
  width: 35%;
  margin: 15px 20px;
}
.footer .footer-low .rgpd ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.footer .footer-low .rgpd ul li {
  cursor: pointer;
}

.signin {
  background-color: #272727;
  height: 90vh;
}
.signin .signin-form {
  font-family: "Questrial", serif;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.signin .signin-form .logo {
  width: 50px;
  margin-bottom: 30px;
}
.signin .signin-form p {
  color: #5f5f5f;
  font-weight: 700;
}
.signin .signin-form .to-signup {
  display: flex;
  margin-bottom: 30px;
}
.signin .signin-form .to-signup .navigate {
  margin-left: 10px;
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
.signin .signin-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 560px) {
  .signin .signin-form form {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .signin .signin-form form label {
    width: 70%;
  }
}
.signin .signin-form form input {
  margin-bottom: 20px;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #707070;
  background-color: #333333;
  color: #bdbdbd;
  font-weight: 700;
}
@media screen and (max-width: 560px) {
  .signin .signin-form form input {
    width: 100%;
  }
}
.signin .signin-form form button {
  width: 200px;
  padding: 15px 0;
  border-radius: 10px;
  border: 1px solid #707070;
  margin: 30px auto 50px auto;
  cursor: pointer;
}
.signin .signin-form form .validation {
  color: #983c3c;
}
.signin .signin-form .connexion-with {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.signin .signin-form .connexion-with .google-logo {
  width: 40px;
  cursor: pointer;
  margin-bottom: 30px;
}
.signin .signin-form .separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa;
  width: 300px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .signin .signin-form .separator {
    width: 50%;
  }
}
.signin .signin-form .separator::before, .signin .signin-form .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #707070; /* Couleur des lignes */
  margin: 0 10px; /* Espacement entre le texte et les lignes */
}

.signup {
  background-color: #272727;
  height: 90vh;
}
.signup .signup-form {
  font-family: "Questrial", serif;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.signup .signup-form .logo {
  width: 50px;
  margin-bottom: 30px;
}
.signup .signup-form p {
  color: #5f5f5f;
  font-weight: 700;
}
.signup .signup-form .to-signin {
  display: flex;
  margin-bottom: 30px;
}
.signup .signup-form .to-signin .navigate {
  margin-left: 10px;
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
.signup .signup-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 560px) {
  .signup .signup-form form {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .signup .signup-form form label {
    width: 70%;
  }
}
.signup .signup-form form input {
  margin-bottom: 15px;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #707070;
  background-color: #333333;
  color: #bdbdbd;
  font-weight: 700;
}
@media screen and (max-width: 560px) {
  .signup .signup-form form input {
    width: 100%;
  }
}
.signup .signup-form form button {
  width: 200px;
  padding: 15px 0;
  border-radius: 10px;
  border: 1px solid #707070;
  margin: 30px auto 30px auto;
  cursor: pointer;
}
.signup .signup-form form .validation {
  color: #983c3c;
}
.signup .signup-form .connexion-with {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.signup .signup-form .connexion-with .google-logo {
  width: 40px;
  cursor: pointer;
  margin-bottom: 20px;
}
.signup .signup-form .separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa;
  width: 300px;
  margin-bottom: 30px;
}
@media screen and (max-width: 560px) {
  .signup .signup-form .separator {
    width: 50%;
  }
}
.signup .signup-form .separator::before, .signup .signup-form .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #707070; /* Couleur des lignes */
  margin: 0 10px; /* Espacement entre le texte et les lignes */
}

.annoncements ul li {
  margin-bottom: 100px;
}

html {
  background-color: #272727;
  color: #ededed;
}

.form-user {
  background-color: #333333;
  padding: 60px;
  width: 80%;
  margin: 0 auto;
}
.form-user label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}
.form-user label input,
.form-user label select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.form-user label select {
  background-color: white;
  cursor: pointer;
}
.form-user label select option {
  padding: 10px;
}
.form-user h2 {
  margin-bottom: 20px;
}
.form-user input {
  width: 200px;
}
.form-user button {
  margin: 0 auto;
}
.form-user .user-infos,
.form-user .user-contact {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 80px;
  margin-bottom: 40px;
  border-radius: 20px;
}/*# sourceMappingURL=index.css.map */